name: Build and Test React Application
on: 
    push:
        branches:
        - hsf

permissions:
    contents: write
jobs:
    build-and-test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [22]
    
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4




        

