name: Build and Test React Application
on: 
    push:
        branches:
        - hsf

permissions:
    contents: write
jobs:
    build-and-test:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [22]
    
        steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            token: ${{ secrets.GITHUB_TOKEN }}

        - name: Set up Node.js ${{ matrix.node-version }}
          uses: actions/setup-node@v4
          with:
            node-version: ${{ matrix.node-version }}
            cache: 'npm'
        
        - name: Install dependencies
          run: npm install

        # - name: Run linter
        #   run: npm run lint

        - name: Run tests
          run: npm test

        - name: Build application
          run: npm run build

        - name: Upload build artifacts
          uses: actions/upload-artifact@v4
          with:
            name: build-artifacts
            path: ./dist



        

